{{ define "title" }}Home{{ end }}
{{ define "content" }}
    <div style="margin-top:2rem;">
        <h1 class="home-page-welcome">Hello!</h1>
        <img class="img-me" src="/static/profilepic.jpg" alt="Me">
    </div>
{{ end }}