{{ define "title" }}Home{{ end }}
{{ define "content" }}
    <div class="home-page">
        <img class="img-profilepic" src="/public/profilepic.jpg" alt="Me">
        <p class="home-page">Hello! My name is AJ.<br>
        I am a self-taught Software Engineer for Grafana Labs with a passion for process improvement.</p>
    </div>
{{ end }}