{{ define "title" }}Home{{ end }}
{{ define "content" }}
    <div class="home-page">
        <img class="img-profilepic" src="/public/profilepic.jpg" alt="Me">
        <p class="home-page">Hello, my name is AJ!<br><br>
        I am a self-taught Software Engineer working for the IT Operations Department @ Grafana Labs with a passion for process improvement.<br><br>
        </p>
    </div>
{{ end }}