{{ define "title" }}

Apex Legends Picker

{{ end }}

{{ define "content" }}

    <h1>Apex Lgends Picker</h1>

    {{ if .LegendPicked }}
    
        <p></p>
    
    {{ end }}
    
    <button onClick="legendRandomizer()">Pick My Legend!</button>

{{ end }}