{{ define "title" }}

Block Basher

{{ end }}

{{ define "content" }}

    <h1>Block Basher</h1>

    <p>Still troubleshooting templates with javascript embedded iframes.. please come back later!</p>

    <div class="screen-container">
        <iframe class="screen" scrolling="no" allow="autoplay" src="/wasm/blockbasher/run.html" width="640" height="480"></iframe>
    </div>

{{ end }}