{{ define "title" }}Block Basher{{ end }}
{{ define "content" }}
    <div class="screen-container">
        <h1>Block Basher</h1>
        <iframe class="screen" scrolling="no" allow="autoplay" src="/wasm/blockbasher/blockbasher.html"></iframe>
    </div>
{{ end }}