  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>ajtv.me - {{template "title" .}}</title>
      <link href="../styles.css" rel="stylesheet">
    </head>
    <body>
      <header class="header">welcome to andrewjtomko.me!</header>
      <div class="layout">
          <!-- Nav Bar -->
        <nav class="nav">
          <ul class="nav-ul">
            <li><a href="/">Home</a></li><hr class="nav-hr">
            <li><a href="/about">About</a></li><hr class="nav-hr">
            <li><a href="/skills">Skills</a></li><hr class="nav-hr">
            <li><a href="/games">Games</a></li><hr class="nav-hr">
            <li><a href="/contact">Contact</a></li><hr class="nav-hr">
          </ul>
        </nav> <!-- end nav -->
        <!-- Templated Content -->
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi a ipsa, repudiandae voluptas nihil ipsam nostrum officia perspiciatis omnis quam exercitationem harum atque animi. Consequuntur, consectetur! Iusto, dicta facilis.</p>
                <!-- Footer -->
                <div class="footer">
                  <hr class="footer-hr">
                  <footer class="footer-primary">LinkedIn | Github</footer>
                  <footer class="footer-secondary">Powered by Azure Gophers</footer>
                </div> <!-- end footer -->
          </div> <!-- end content -->
      </div> <!-- end layout -->
    </body>
  </html>