{{ define "title" }}

Games

{{ end }}

{{ define "content" }}

    <h1>{{ .H1 }}</h1>
    <p>Below are various small games/projects I have done for fun and/or while learning other languages, such as JavaScript/C++ and then converting those sample projects here, to GoLang!</p>
    <hr class="content-hr">

    {{ range .Data.Games }}    
        <p><span class="socials"><a href="{{ .Link }}">{{ .Name }}</a></span></p>
        <hr class="content-hr">
    {{ end }}

{{ end }}