<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ajtv.me - {{template "title" .}}</title>
    <link href="../styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  
  <!-- HEADER -->
  <header>

  <!-- MINI NAV BAR -->
  <nav class="nav-mini">[ . . . ]
    <ul class="nav-mini-ul">
      <li class="nav-mini-ul-li"><a href="/">Home</a></li><hr class="nav-mini-hr">
      <li class="nav-mini-ul-li"><a href="/about">About</a></li><hr class="nav-mini-hr">
      <li class="nav-mini-ul-li"><a href="/skills">Skills</a></li><hr class="nav-mini-hr">
      <li class="nav-mini-ul-li"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <!-- END MINI NAV BAR -->

  <h1 class="banner-text">ajtv.me</h1>

  </header>
  <!-- END HEADER -->

    <!-- LAYOUT -->
    <div class="layout">

      <!-- NAV BAR -->
      <div class="nav">
      <nav>
        <ul class="nav-ul">
          <li class="nav-ul-li"><a class="nav-ul-a" href="/">Home</a></li><hr class="nav-hr">
          <li class="nav-ul-li"><a class="nav-ul-a" href="/about">About</a></li><hr class="nav-hr">
          <li class="nav-ul-li"><a class="nav-ul-a" href="/skills">Skills</a></li><hr class="nav-hr">
          <li class="nav-ul-li"><a class="nav-ul-a" href="/contact">Contact</a></li>
        </ul>
      </nav> 
    </div>
      <!-- END NAV BAR -->

      <!-- TEMPLATED CONTENT -->
      <div class="content">

        <!-- DONT COPY THIS SECTION!!!! -->

        <div class="home-page">
          <img class="img-profilepic" src="../../../public/profilepic.jpg" alt="Me">
          <p class="home-page">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos possimus maiores minus harum fuga asperiores minima aperiam est modi? Laudantium suscipit, obcaecati non necessitatibus doloremque odio accusamus optio pariatur maiores! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos possimus maiores minus harum fuga asperiores minima aperiam est modi? Laudantium suscipit, obcaecati non necessitatibus doloremque odio accusamus optio pariatur maiores! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos possimus maiores minus harum fuga asperiores minima aperiam est modi? Laudantium suscipit, obcaecati non necessitatibus doloremque odio accusamus optio pariatur maiores! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos possimus maiores minus harum fuga asperiores minima aperiam est modi? Laudantium suscipit, obcaecati non necessitatibus doloremque odio accusamus optio pariatur maiores!</p>
        </div>
        


        <h1 class="content-h1">SAMPLE content-h1</h1>
        <hr class="content-hr">
        <h2 class="content-h2">Sample content-h2</h2>
        <hr class="content-hr">
        <p class="content-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi a ipsa, repudiandae voluptas nihil ipsam nostrum officia perspiciatis omnis quam exercitationem harum atque animi. Consequuntur, consectetur! Iusto, dicta facilis.</p>
        <hr class="content-hr">
        <p class="content-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ad, eligendi eius hic recusandae tempora eaque saepe cumque sint deleniti dolorem sit eos dolores asperiores voluptas veniam quasi laboriosam incidunt.</p>
        <hr class="content-hr">
        <h2>Sample bio-content below</h2>
        <p class="bio-content-summary">2006-2042 | Hello World Engineer </p>
        <div class="bio-content">
          <ul class="bio-content-ul">
                  <li class="bio-content-li">Some sample content would go here</li>
                  <li class="bio-content-li">Some sample content would go here</li>
                  <li class="bio-content-li">Some sample content would go here</li>
                  <li class="bio-content-li">Some sample content would go here</li>
                  <li class="bio-content-li">Some sample content would go here</li>
          </ul>
        </div>
        <form>
          <label class="contact-label" for="cname">Your Name</label>
          <br>
          <input type="text" id="cname"></input>
          <br><br>
          <label class="contact-label" for="cmsg">Message</label>
          <br>
          <textarea id="cmsg"></textarea>
          <br>
          <button formaction="/contact/submit">Submit</button>
      </form>


        <!-- END NO COPY -->
        

      </div> <!-- END TEMPLATED CONTENT -->
    </div> <!-- END LAYOUT-->


    <!-- FOOTER -->
    <footer>
      <hr class="footer-hr">
      <div class="footer">
        <a href="https://www.linkedin.com/in/andrew-aj-tomko-24132948/"><img src="/public/linkedin_logo.png" width="30" height="30"></a>
        <img src="/public/github_logo.png" width="30" height="30" href="https://github.com/iamelDuderino">
      </div>
    </footer>
    <!-- END FOOTER -->
      
    
  </body>
</html>