:root {
    --bg-color: rgb(31, 28, 28);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-color: rgba(255, 255, 255, 0.8);
    --primary-color: rgba(130, 218, 130, 0.8);
    --primary-color-solid: rgb(60, 92, 60);
    --secondary-color: rgb(189, 41, 189);
}

@keyframes page-flip-gradient {
    0%, 20% {
        background-image: linear-gradient(to bottom right, white, white, white, white, white);
    }
    20%, 25% {
        background-image: linear-gradient(to bottom right, var(--secondary-color), white, white, white, white);
    }
    25%, 30% {
        background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color), white, white, white);
    }
    30%,35% {
        background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color), var(--secondary-color), white, white);
    }
    35%,40% {
        background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color), white);
    }
    45%, 50% {
        background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color));
    }
    50%, 55% {
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color));
    }
    55%, 60% {
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color), var(--secondary-color), var(--secondary-color), var(--secondary-color));
    }
    60%,65% {
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color), var(--primary-color), var(--secondary-color), var(--secondary-color));
    }
    65%,70% {
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color), var(--primary-color), var(--primary-color), var(--secondary-color));
    }
    70%, 100% {
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--primary-color), var(--primary-color), var(--primary-color), var(--primary-color));
    }
}

@keyframes home-page-welcome {
    100% {
        transform: scale(0%);
    }
}

@keyframes grow-font-xl {
    100% {
        font-size: x-large;
    }
}

@keyframes grow-font-xxl {
    100% {
        font-size: xx-large;
    }
}

@keyframes slide-right {
    100% {
        transform: translateX(.5rem);
    }
}

@keyframes hr-glow {
    0%, 100% {
        opacity: 10%;
    }
    50% {
        opacity: 30%;
    }
}

* {
    font-family: var(--font-family);
    cursor: default;
    color: var(--font-color);
    text-align: center;
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--primary-color);
    display: flex;
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    justify-content: right;
    font: var(--font-family);
    font-style: italic;
}

footer {
    padding: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

h2 {
    color: var(--primary-color)
}

hr {
    opacity: 10%;
    border: 1px solid var(--bg-color);
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 1rem;
    font-size: large;
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: var(--bg-color)
}

button {
    color: var(--bg-color);
    font-family: var(--font-family);
    font-size: large;
}

textarea, #cname {
    text-align: left;
    min-width: 50%;
    max-width: 100%;
    min-height: 50%;
    max-height: 100%;
    font-size: large;
    color: var(--bg-color);
    font-family: var(--font-family);
}

textarea:focus, #cname:focus {
    outline: none;
}

#cmsg {
    min-width: 100%;
    min-height: 50%;
    min-height: 10rem;
    max-height: 20rem;
    font-size: large;
}

span:hover {
    color: var(--primary-color);
}

.socials:hover {
    animation: grow-font-xl .2s ease forwards;
}

.banner-text {
    color: var(--bg-color);
}

.home-page-welcome {
    animation: home-page-welcome 1s forwards;
    animation-delay: 2s;
    margin: 0;
    padding: 1rem;
    font-size: xx-large;
    font-family: var(--font-family);
    font-style: italic;
    background-color: transparent;
}

.img-me {
    min-width: 5rem;
    max-width: 20rem;
    display: block;
    margin: auto;
    padding: 0;
    border-radius: 100pc;
    box-shadow: 0 0 10pc 1pc var(--primary-color);
}

.nav-ul, .nav-mini-ul {
    width: 6rem;
    margin: 0;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: x-large;
    text-decoration: none;
}

.nav-ul-a {
    display: flex;
    justify-content: left;
}

.nav-ul a:link, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.nav-ul-li:hover {
    color: var(--primary-color);
    animation: slide-right .2s ease forwards;
}

.nav-mini {
    margin: 0;
    color: var(--bg-color);
    padding: 1rem;
    width: 100%;
    align-self: center;
    display: none;
    font-family: var(--font-family);
    font-size: large;
}

.nav-mini-ul {
    position: fixed;
    background-color: var(--primary-color);
    font-size: medium;
    display: none;
    border-radius: 1pc;
    max-width: fit-content;
    max-height: auto;
}

.nav-mini-ul-li {
    color: var(--bg-color);
}

.nav-mini-ul-li:hover {
    color: white;
}

.nav-mini:hover .nav-mini-ul {
    display: block;
    z-index: 1;
    transform: translateY(2rem) translateX(-1em);
}

.layout {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    padding: 0;
    background-color: transparent;
}

.content-p, .content-h1, .content-h2, .content-h3 {
    margin: 1rem;
}

.header-hr {
    width: 90%;
}

.content-hr {
    width: 60%;
    animation: hr-glow 3s ease infinite;
    background-color: var(--primary-color);
    height: .1rem;
    border: transparent;
}

.footer-hr {
    width: 20%;
}

.footer-socials {
    font-size: large;
}

.footer-poweredby {
    font-size: small;
}

.bio-content {
    width: 100%;
    display:flex;
    justify-content: left;
}

.bio-content-summary {
    text-align: center;
    font-style: italic;
}

.bio-content-ul {
    list-style-type:disc;
}

.bio-content-li {
    padding: .5rem;
    text-align: left;
}

.contact-label {
    font-size: x-large;
    text-align: left;
}

@media (max-width: 480px) {
    .nav {
        display: none;
    }
    .nav-mini {
        display: flex;
    }
    * {
        text-align: left;
    }
    h1, h2, h3, footer {
        text-align: center;
    }
}